.figure {
  padding: var(--ifm-leading);
  background-color: var(--ifm-hover-overlay);
  margin: 0 0 var(--ifm-leading) 0;
  border-radius: var(--ifm-global-radius);
}

.figure__caption {
  padding: var(--ifm-leading);
  font-style: italic;
  text-align: center;
}

.figure__title {
  text-align: center;
  font-weight: bold;
}
