@import '../css/shared.scss';

.container {
  background-color: var(--ifm-code-background);
  width: 100%;
  display: flex;
  align-items: flex-end;
  color: white;
  white-space: nowrap;
  flex-wrap: nowrap;
  border-bottom-left-radius: var(--ifm-global-radius);
  border-bottom-right-radius: var(--ifm-global-radius);
  line-height: 1.5;
  white-space: nowrap;
  code {
    font-style: normal;
    display: inline;
  }
  a {
    @extend .reference;
  }
}
.token {
  --reference-bg: rgba(62, 71, 122, 0.25);
  --reference-bg-hover: var(--ifm-color-gray-100);
  --reference-color-hover: var(--ifm-color-gray-800);
  color: var(--token-color);
  --ifm-link-hover-color: var(--token-color);
}

.token--punctuation {
  --token-color: var(--syntax-color-punctuation);
}

.token--attr-name {
  --token-color: var(--syntax-color-attr-name);
}

.token--plain {
  --token-color: var(--syntax-color-plain);
}

.token--keyword {
  font-style: italic;
  --token-color: var(--syntax-color-keyword);
}

.token--literal {
  --token-color: var(--syntax-color-literal);
}

.token--type {
  font-weight: bolder;
  --token-color: var(--syntax-color-type);
}

.token--primitive {
  --token-color: var(--syntax-color-primitive);
}

.typeContainer {
  flex-grow: 1;
  overflow-x: auto;
}

.flagBox {
  opacity: 0.75;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 65%;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  align-self: flex-start;
  height: var(--decorator-size);
}

.flagBox--optional {
  background-color: var(--ifm-color-info);
  color: var(--ifm-color-black);
}

.flagBox--required {
  background-color: var(--theme-surface-bg);
  color: var(--ifm-color-white);
}

.flagBox--static {
  background-color: var(--ifm-color-info);
  color: var(--ifm-color-black);
}

.flagBox--reexport {
  background-color: var(--ifm-color-warning);
  color: var(--ifm-color-black);
}

.flagBox--export {
  background-color: var(--ifm-color-success);
  color: var(--ifm-color-black);
}

.logo,
.logo > svg {
  height: var(--decorator-size);
  flex-shrink: 0;
}

.logo {
  --logo-color-fill: white;
  --logo-color-bg: #3178c6;
  &:hover {
    --logo-color-fill: #3178c6;
    --logo-color-bg: white;
    outline: solid 3px #3178c6;
  }
}

.badges {
  --decorator-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: var(--ifm-global-radius);
  border-top-right-radius: var(--ifm-global-radius);
  overflow: hidden;
  margin-bottom: 0.25rem;
}

.versionBox {
  code {
    font-style: normal;
    background-color: var(--ifm-color-primary);
    padding: 0.25rem;
    font-size: small;
    display: inline block;
  }
}

.sourceBoxContainer {
  --source-box-font-size: 14px;
  margin-top: 0.25rem;
  font-style: italic;
  padding: 0.25rem;
  padding-left: 0.5rem;
  line-height: 1.4;
  font-size: var(--source-box-font-size);
  background-color: var(--ifm-code-background);
  color: var(--ifm-color-white);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sourceBox {
  text-decoration: underline;

}

