.root {
  background-image: url('/img/banner.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(20, 36, 83);
  background-blend-mode: multiply;
  min-height: calc(100vh - 70px);
  --ifm-text-color: var(--ifm-color-white);
  color: var(--ifm-color-white);
}

.heroBanner {
  padding: 1rem 1rem 0 1rem;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  --ifm-hero-text-color: var(--ifm-color-white);
}

.title {
  background-color: rgba(108, 108, 233, 0.25);
  padding: 1rem;
  display: block;
  width: 100%;
  text-align: center;
}

.main {
  display: flex;
  gap: 8rem;
}

.buttonGetStarted {
  font-family: var(--ifm-font-family-base);
  &:not(:hover) {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.content {
  text-align: right;
  max-width: 800px;
  letter-spacing: 2px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1024px) {
    & {
      text-align: center;
    }
  }
}

.subtitle {
  line-height: 1.4;
}

.features {
  padding-right: 0;
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.screenshot {
  max-height: calc(100vh - 270px);
  overflow: hidden;
}

.screenshotContainer {
  position: relative;
  @media screen and (max-width: 1024px) {
    & {
      display: none;
    }
  }
}

.screenshotOverlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0) 80%, #010306);
}
