.heroBanner {
  padding: 4rem 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url('/img/banner.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(20, 36, 83);
  background-blend-mode: multiply;
  min-height: min(600px, 100vh);
  --ifm-hero-text-color: var(--ifm-color-white);
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttonGetStarted {
  font-family: var(--ifm-font-family-base);
  &:not(:hover) {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.content {
}

.subtitle {
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.badge {
  height: 20px;
  overflow: hidden;
  > img {
    display: block;
  }
}

.buttons,
.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.stats {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  @media screen and (max-width: 450px) {
    & {
      position: relative;
      flex-direction: column;
    }
  }
}
