html[data-theme='dark'] .expoBox--themed, .expoBox--white {
  img {
    filter: invert(1) opacity(80%);
  }
}
.expoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.4;
  &__logo {
    margin-bottom: 0.5rem;
  }
  &__qr {
    margin-top: 0.5rem;
    align-self: center;
  }
}

.img {
  width: 120px;
  height: 120px;
}
